---
Language:        Cpp
BasedOnStyle:  Microsoft
PointerAlignment: Left
FixNamespaceComments: false
BraceWrapping:
  AfterCaseLabel:  true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
TabWidth:        4
UseCRLF:         false
UseTab:          Never
BreakConstructorInitializersBeforeComma: true
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 0
