# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*~
*.autosave
*.a
*.core
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.app
Thumbs.db
*.dwarf

# Vim temporary files
.*.swp

# Binaries
# --------
*.dll
*.exe
/bin
/lib

# other temporary files ...
.cache
*.kate-swp

# RDoc output
/doc
# Our docs
!/docs

# MRuby version lockfile
mruby_config.rb.lock

# we check out mruby to /vendor/mruby
/vendor/mruby
